Windesheim.Social.UI/Service References/SocialService/SocialService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2411/SocialService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="LoginCredentials">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="LoginCredentials" nillable="true" type="tns:LoginCredentials" />
  <xs:complexType name="FacebookLoginCredentials">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LoginCredentials">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FacebookLoginCredentials" nillable="true" type="tns:FacebookLoginCredentials" />
  <xs:complexType name="Authentication">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ticket" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
      <xs:element minOccurs="0" name="ValidTill" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Authentication" nillable="true" type="tns:Authentication" />
  <xs:complexType name="ArrayOfGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroup" nillable="true" type="tns:ArrayOfGroup" />
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessType" type="tns:GroupAccess" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group" />
  <xs:simpleType name="GroupAccess">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Open" />
      <xs:enumeration value="Closed" />
      <xs:enumeration value="Secret" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GroupAccess" nillable="true" type="tns:GroupAccess" />
</xs:schema>