Windesheim.Social.UI/Service References/SocialService/SocialService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2411/SocialService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="credentials" nillable="true" type="q1:LoginCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="LoginResult" nillable="true" type="q2:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserHasAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="auth" nillable="true" type="q3:Authentication" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserHasAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserHasAccessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="auth" nillable="true" type="q4:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="GetGroupsResult" nillable="true" type="q5:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>