Windesheim.Social.UI/Service References/SocialService/SocialService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SocialService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2411/SocialService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2411/SocialService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2411/SocialService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISocialService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ISocialService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_UserHasAccess_InputMessage">
    <wsdl:part name="parameters" element="tns:UserHasAccess" />
  </wsdl:message>
  <wsdl:message name="ISocialService_UserHasAccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserHasAccessResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroups" />
  </wsdl:message>
  <wsdl:message name="ISocialService_GetGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISocialService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/Login" message="tns:ISocialService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/LoginResponse" message="tns:ISocialService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserHasAccess">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroups/UserHasAccess" message="tns:ISocialService_UserHasAccess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroups/UserHasAccessResponse" message="tns:ISocialService_UserHasAccess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroups/GetGroups" message="tns:ISocialService_GetGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroups/GetGroupsResponse" message="tns:ISocialService_GetGroups_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISocialService" type="tns:ISocialService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserHasAccess">
      <soap:operation soapAction="http://tempuri.org/IGroups/UserHasAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap:operation soapAction="http://tempuri.org/IGroups/GetGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SocialService">
    <wsdl:port name="BasicHttpBinding_ISocialService" binding="tns:BasicHttpBinding_ISocialService">
      <soap:address location="http://localhost:2411/SocialService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>