Windesheim.Social.UI/Service References/SocialService/SocialService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2411/SocialService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="credentials" nillable="true" type="q1:LoginCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="LoginResult" nillable="true" type="q2:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="auth" nillable="true" type="q3:Authentication" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="group" nillable="true" type="q4:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="auth" nillable="true" type="q5:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="GetGroupsResult" nillable="true" type="q6:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="auth" nillable="true" type="q7:Authentication" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="GetGroupResult" nillable="true" type="q8:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsExtended">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="auth" nillable="true" type="q9:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsExtendedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="GetGroupsExtendedResult" nillable="true" type="q10:ArrayOfGroupExtended" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnrollInGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="auth" nillable="true" type="q11:Authentication" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnrollInGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PostMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="auth" nillable="true" type="q12:Authentication" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="message" nillable="true" type="q13:Message" />
        <xs:element minOccurs="0" name="parentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="auth" nillable="true" type="q14:Authentication" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="GetMessagesResult" nillable="true" type="q15:ArrayOfMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="auth" nillable="true" type="q16:Authentication" />
        <xs:element minOccurs="0" name="messageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelevantMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="auth" nillable="true" type="q17:Authentication" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelevantMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Windesheim.Social.Objects" minOccurs="0" name="GetRelevantMessagesResult" nillable="true" type="q18:ArrayOfMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>